<h1>Books</h1>

  <% @books.each do |book| %>
      <% if book.image? %>
          <%= image_tag(book.image.thumb.url) %>
      <% end %>
      <br>
      <h2><%= link_to book.title, book %></h2>
      <h2>by <%= book.author_firstname%> <%= book.author_lastname%></h2>
      <%= book.description %>

      <% if User.where(id: "#{book.user_id}".to_i).exists?(conditions = :none) %>
      <% @post_user = User.find(book.user_id) %>
      <% else %>
      <% @post_user = User.find_by(username:'removedUser') %>
      <% end %>
      <h3>Posted by <%= @post_user.username %></h3>

      <br>
      <% if user_signed_in? && current_user.role == "admin" || user_signed_in? && current_user.role == "moderator" %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <hr>
  <% end %>
  <br>

  <%= link_to 'New Book', new_book_path %>
