<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_firstname %>
  <%= @book.author_lastname %>
</p>

<p>
  <strong>By User:</strong>
  <%= @user.username %>
</p>

<h2>Reviews</h2>

<%= render @book.reviews %>

<br>

<% if user_signed_in? %>
  <%= render "reviews/form" %>
  <% if current_user.id == @user.id  || current_user.role == "admin" %>
    <%= link_to 'Edit', edit_book_path(@book) %>
  <% end %>
<% end %>



<%= link_to 'Back', books_path %>
