<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-4">

      <% if @book.image? %>
          <%= image_tag(@book.image.large.url) %>
      <% end %>
       <div class="table-responsive">
         <table class="table">
           <tbody>
             <tr>
               <td><strong>Title:</strong></td>
               <td><%= @book.title %></td>
             </tr>
             <tr>
               <td><strong>Description:</strong></td>
               <td><%= @book.description %></td>
             </tr>
             <tr>
               <td><strong>Author:</strong></td>
               <td><%= @book.author_firstname %>
               <%= @book.author_lastname %></td>
             </tr>
             <tr>
               <td><strong>By User:</strong></td>
               <td><%= @user.username %></td>
             </tr>
           </tbody>
         </table>
       </div>
  </div>
</div>



<h2>Reviews</h2>

<%= render @book.reviews %>

<br>

<% if user_signed_in? %>
  <%= render "reviews/form" %>
  <% if current_user.id == @user.id  || current_user.role == "admin" %>
    <%= link_to 'Edit', edit_book_path(@book) %>
  <% end %>
  <% if current_user.role == "admin" %>
    <%= link_to 'Delete Book', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>



<%= link_to 'Back', books_path %>
