<head>
      <%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %>
</head>
<body>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <% if @book.image? %>
                <%= image_tag(@book.image.large.url) %>
            <% end %>

            <% if current_user %>
              <div class="small-2 large-2 columns">
                  Your rating: <%= rating_for_user @book, current_user, "overall", enable_half: true, half_show: true, disable_after_rate: true %>
              </div>
              <% if current_user.id == @user.id %>
                <div class="small-2 large-4 columns">
                  Overall Rating: <%= rating_for @book, "overall", enable_half: true, half_show: true, disable_after_rate: true %>
                </div>
              <% end %>
            <% else %>
              <% if @rating.length != 0 %>
                  <% @final_rating.times do %>
                    <span class="glyphicon glyphicon-star"></span>
                  <% end %>
                  <% @remaining_stars.times do %>
                    <span class="glyphicon glyphicon-star-empty"></span>
                  <% end %>
              <% else %>
                  <% 5.times do %>
                    <span class="glyphicon glyphicon-star-empty"></span>
                  <% end %>
                  <h6>No rating yet, sign in to rate</h6>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-4 col-md-offset-4">
             <div class="table-responsive">
               <table class="table">
                 <tbody>
                   <tr>
                     <td><strong>Title:</strong></td>
                     <td><%= @book.title %></td>
                   </tr>
                   <tr>
                     <td><strong>Author:</strong></td>
                     <td><%= @book.author_firstname %>
                     <%= @book.author_lastname %></td>
                   </tr>
                   <tr>
                     <td><strong>By User:</strong></td>
                     <td><%= @user.username %></td>
                   </tr>
                   <tr>
                     <td><strong>Description:</strong></td>
                     <td><%= @book.description %></td>
                   </tr>
                 </tbody>
               </table>
             </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container">
   <div class="row">
       <div class="col-md-7 col-md-offset-1">
          <h2>Reviews</h2>
          <% if @book.reviews.blank? %>
            <h3>No reviews just yet, would you like to write your review? </h3>
          <% else %>
            <%= render @book.reviews %>
          <% end %>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <% if user_signed_in? %>
            <%= render "reviews/form" %>
            <% if current_user.id == @user.id  || current_user.role == "admin" %>
              <%= link_to 'Edit', edit_book_path(@book) %>
            <% end %>
            <% if current_user.role == "admin" %>
              <%= link_to 'Delete Book', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
          <%= link_to 'Back To All Books', books_path %>
        </div>
    </div>
  </div>
</body>
