<%= form_for([@book, @book.reviews.build]) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id, class:'d-none'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
