<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
        <div class="notifications">
          <span class="notice"><%= notice %></span>
          <span class="alert"><%= alert %></span>
        </div>
        <%= yield %>
    </div>
  </body>
</html>
