<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notifications">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
    <div class="greeting">
        <% if user_signed_in? %>
          <p> Hello, <%= current_user.username %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %></p>
        <% else %>
          <%= link_to "Sign_in", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
